<div id="main-wrapper">
    <app-headbar></app-headbar>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">© {{ year }} Conect v5 by BrokenSkullsCP.com</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>